  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
        <img src="../assets/img/BancoSantander.png" class="img-responsive logo" alt="Image">
        <img src="../assets/img/header1.png" class="img-responsive imghead" alt="Image">
    </div>
<p class="text-center labelHeader">Metricas</p>

    <ul class="list-unstyled components">
        
      <li>
        <a [routerLink]="['/situacion']"> Situacion Actual</a>
        
    </li>
    <li>
      <a [routerLink]="['/gestion']">Gestión comercial</a>
   </li>
   <li>
    <a href="#">Depuracion Comercial del inmueble</a>
  </li>
  <li>
    <a href="#">Expedientes completos</a>
  </li>
  <li>
    <a href="#">Saneamiento jurídico</a>
  </li>

  <li>
    <a href="#">Seguimiento Obras en Cursos</a>
  </li> 
  <li>
    <a href="#">Gestion de Suelos</a>
  </li> 
  <p class="text-center labelHeader">Informes</p>

  <li>
    <a href="#">Cuadro de mando</a>
  </li>
        
    </ul>

    <ul class="list-unstyled CTAs">
        <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Manual de Usuario</a></li>
      
    </ul>
</nav>